
.container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card{
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    box-shadow: 0 40px 60px -6px black;
}

.cardName {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #0a0a0a;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.cardImg {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
}

.cardDesc {
    color: white;
}


.btn {
    margin-top: -1%;
    margin-right: 100%;
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #0f0b0b;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 25px;
    cursor: pointer;
}