.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.formField{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #d9d9d9;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(247, 247, 247);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-left: 50%;
}

.btnAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 12px 30px;
    border: 0;
    border-radius: 10px;
    background: #0594B8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 94%;
    margin-top: 2%;
}